defaults]
private_key_file = /mnt/c/Users/David/.ssh/r3dpanth3rlab_root   # già presente
host_key_checking = True                                       # o False in lab
roles_path       = ./ansible/roles                              # <-- NEW
